body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fe28f9fc-a383-4935-ba27-011f7cba7605/dcapys5-ca542d51-a028-4f55-99c7-968ceed57e11.jpg/v1/fill/w_1096,h_729,q_70,strp/110_marble_ink_paper_textures_by_graphicassets_dcapys5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NzIiLCJwYXRoIjoiXC9mXC9mZTI4ZjlmYy1hMzgzLTQ5MzUtYmEyNy0wMTFmN2NiYTc2MDVcL2RjYXB5czUtY2E1NDJkNTEtYTAyOC00ZjU1LTk5YzctOTY4Y2VlZDU3ZTExLmpwZyIsIndpZHRoIjoiPD0xMTYwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.M5wBXiB5gaCyrA3y25DN_OqCnyxXiQB4eOGl6wPF6tM');
    background-size: auto auto;
    height: 100vh;
}

.menu {
    background-color: whitesmoke;
}

.menu ul {
    display: flex;
    font-family: Arial;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: #0000CD;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

.site-title,
.site-subtitle {
    color: #1C1C1C;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}
